* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 50vh;
  display: grid;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.imgs {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 270px));
  grid-gap: 10px;
  margin-top: 20px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.countdown li {
  display: grid;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1em;
  padding: 1.5rem;
  color: #09e;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.countdown li span {
  font-size: 3rem;
  font-weight: bold;
}
